<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="Display Prompts" type="lsep"/>
        <setting id="unwatched" type="bool" enable="eq(1,false)" label="Prompt for Unwatched" default="true"/>
        <setting id="watched" type="bool" enable="eq(-1,false)" label="Prompt for Watched" default="false"/>
        <setting label="Default for Prompts (if prompts are not displayed)" type="lsep"/>
        <setting id="default_unwatched" type="bool" enable="eq(-3,false)+eq(-2,false)+eq(1,false)" label="Default for Unwatched" default="false"/>
        <setting id="default_watched" type="bool" enable="eq(-3,false)+eq(-4,false)+eq(-1,false)" label="Default for Watched" default="false"/>
    </category>
</settings>